preview/MsixCore/Tests/*.msix filter=lfs diff=lfs merge=lfs -text
preview/MsixCore/Tests/*.appx filter=lfs diff=lfs merge=lfs -text

# Mark third party code as vendored
lib/openssl/* linguist-vendored
lib/xerces/* linguist-vendored
lib/zlib/* linguist-vendored
lib/catch2/* linguist-vendored

# Test xml should have LF line endings on checkout 
src/test/testData/pack/input/AppxManifest.xml text eol=lf
