[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib.git
[submodule "openssl"]
	path = openssl
	url = https://github.com/openssl/openssl.git
[submodule "xerces"]
	path = xerces
	url = https://github.com/apache/xerces-c.git
[submodule "xalan"]
	path = xalan
	url = https://github.com/apache/xalan-c.git
