# MSIX SDK
* @msftrubengu @ranm-msft @johnmcpms 

# MsixCoreInstaller owners
/MsixCore/ @wcheng-msft @jyvenugo @sarjanas-msft @microsoft/MSIX-ENG-IDC

# Utils library
/tools/utils/ @ranm-msft @msftrubengu @johnmcpms @florelis

# Azure Pipelines tasks
/tools/pipelines-tasks @ranm-msft @msftrubengu @johnmcpms @florelis
