<?xml version="1.0" encoding="UTF-8"?>
<?if $(var.Platform) = x64 ?>
	<?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
	<?define Win64 = "yes" ?>
<?else ?>
	<?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
	<?define Win64 = "no" ?>
<?endif ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="MSIX Core" Language="1033" Version="!(bind.FileVersion.MsixMgrExe)" Manufacturer="Microsoft" UpgradeCode="2fe180f8-3fb8-48a0-b01e-68f47fc0ec34">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="MsixMgrWix" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentGroupRef Id="Assets" />
		</Feature>
		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
		<UIRef Id="WixUI_InstallDir_Custom"/>
		<InstallUISequence>
			<Custom Action='GetMsixmgrProductsCA' Before='RemoveConfirmationDlg'>Installed AND NOT RESUME AND NOT Preselected AND NOT PATCH</Custom>
		</InstallUISequence>
		<WixVariable Id="WixUIBannerBmp" Value="./MSIXCoreBanner-01.jpg" />
		<WixVariable Id="WixUIDialogBmp" Value="./MSIXDialog-01.jpg" />
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="$(var.PlatformProgramFilesFolder)">
				<Directory Id="INSTALLFOLDER" Name="msixmgr">
					<Directory Id="Assets" Name="Assets"/>
				</Directory>
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			
			<Component Id="MsixMgrExe" Win64="$(var.Win64)">
				<File Id="MsixMgrExe" Source="$(var.msixmgr.TargetPath)" />
				<ProgId Id="APPX" Description="Extracts package, reads manifest and unpacks VFS" Icon="MsixIcon" IconIndex="0" Advertise="yes">
					<Extension Id="appx" Advertise="yes">
						<Verb Id="open" Command="&amp;Open" Argument="-AddPackage &quot;%1&quot;" />
					</Extension>
				</ProgId>
				<ProgId Id="MSIX" Description="Extracts package, reads manifest and unpacks VFS" Icon="MsixIcon" IconIndex="0" Advertise="yes">
					<Extension Id="msix" Advertise="yes">
						<Verb Id="open" Command="&amp;Open" Argument="-AddPackage &quot;%1&quot;" />
					</Extension>
				</ProgId>
				<Environment Id="PATH" Name="PATH" Value="[INSTALLFOLDER]" Permanent="no" Part="last" Action="set" System="no" />
			</Component>
			<Component Id="MsixDll" Win64="$(var.Win64)">
				<File Source="$(var.msixmgr.TargetDir)\msix.dll" />
			</Component>

      <Component Id="NoticeFile">
        <File Source="NOTICE.html" />
      </Component>
			
		</ComponentGroup>
		<ComponentGroup Id="Assets" Directory="Assets">
			<Component Id="MsixIcon">
				<File Source="msixicon.ico" />
			</Component>
		</ComponentGroup>
	</Fragment>

	<Fragment>
		<Icon Id="MsixIcon" SourceFile="msixicon.ico" />
	</Fragment>

	<Fragment>
		<UI>
			<!-- Based off of the Maintenance dialog, we only allow Remove; we only show this dialog to warn of msixmgr apps that need to be removed-->
			<Dialog Id="RemoveConfirmationDlg" Width="370" Height="270" Title="!(loc.MaintenanceTypeDlg_Title)">
				<Control Id="RemoveButton" Type="PushButton" X="40" Y="171" Width="80" Height="17" ToolTip="!(loc.MaintenanceTypeDlgRemoveButtonTooltip)" Text="&amp;Remove Anyway">
					<Publish Property="WixUI_InstallMode" Value="Remove">1</Publish>
				</Control>
				<Control Id="WarningText" Type="Text" X="40" Y="81" Width="280" Height="40" NoPrefix="yes" Text="{\WixUI_Font_Title}Warning - removing this will cause the following app(s) installed by this to be unremovable: [MSIXMGR_PRODUCTS]. These app(s) should be removed before proceeding" Hidden="yes">
					<Condition Action="show">MSIXMGR_PRODUCTS</Condition>
				</Control>
				<Control Id="RemoveText" Type="Text" X="60" Y="191" Width="280" Height="20" NoPrefix="yes" Text="!(loc.MaintenanceTypeDlgRemoveText)">
				</Control>
				<Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
					<Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
				</Control>
				<Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.MaintenanceTypeDlgBannerBitmap)" />
				<Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
				<Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
				<Control Id="Title" Type="Text" X="15" Y="6" Width="340" Height="15" Transparent="yes" NoPrefix="yes" Text="{\WixUI_Font_Title}Remove Installation" />
				<Control Id="Description" Type="Text" X="25" Y="23" Width="340" Height="20" Transparent="yes" NoPrefix="yes" Text="!(loc.MaintenanceTypeDlgDescription)" />
			</Dialog>
			<InstallUISequence>
				<Show Dialog="RemoveConfirmationDlg" Before="ProgressDlg">Installed AND NOT RESUME AND NOT Preselected AND NOT PATCH AND MSIXMGR_PRODUCTS</Show>
				<Show Dialog="VerifyReadyDlg" Before="ProgressDlg">Installed AND NOT RESUME AND NOT Preselected AND NOT PATCH AND NOT MSIXMGR_PRODUCTS</Show>
			</InstallUISequence>
		</UI>
		
	</Fragment>

	<Fragment>
		<UI Id="WixUI_InstallDir_Custom">
			<TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
			<TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
			<TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

			<Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
			<Property Id="WixUI_Mode" Value="InstallDir" />

			<DialogRef Id="BrowseDlg" />
			<DialogRef Id="DiskCostDlg" />
			<DialogRef Id="ErrorDlg" />
			<DialogRef Id="FatalError" />
			<DialogRef Id="FilesInUse" />
			<DialogRef Id="MsiRMFilesInUse" />
			<DialogRef Id="PrepareDlg" />
			<DialogRef Id="ProgressDlg" />
			<DialogRef Id="ResumeDlg" />
			<DialogRef Id="UserExit" />
						
			<Publish Dialog="BrowseDlg" Control="OK" Event="DoAction" Value="WixUIValidatePath" Order="3">1</Publish>
			<Publish Dialog="BrowseDlg" Control="OK" Event="SpawnDialog" Value="InvalidDirDlg" Order="4"><![CDATA[NOT WIXUI_DONTVALIDATEPATH AND WIXUI_INSTALLDIR_VALID<>"1"]]></Publish>

			<Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>

			<Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg">NOT Installed</Publish>
			<Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">Installed AND PATCH</Publish>

			<Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
			<Publish Dialog="InstallDirDlg" Control="Next" Event="SetTargetPath" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
			<Publish Dialog="InstallDirDlg" Control="Next" Event="DoAction" Value="WixUIValidatePath" Order="2">NOT WIXUI_DONTVALIDATEPATH</Publish>
			<Publish Dialog="InstallDirDlg" Control="Next" Event="SpawnDialog" Value="InvalidDirDlg" Order="3"><![CDATA[NOT WIXUI_DONTVALIDATEPATH AND WIXUI_INSTALLDIR_VALID<>"1"]]></Publish>
			<Publish Dialog="InstallDirDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Order="4">WIXUI_DONTVALIDATEPATH OR WIXUI_INSTALLDIR_VALID="1"</Publish>
			<Publish Dialog="InstallDirDlg" Control="ChangeFolder" Property="_BrowseProperty" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
			<Publish Dialog="InstallDirDlg" Control="ChangeFolder" Event="SpawnDialog" Value="BrowseDlg" Order="2">1</Publish>
						
			<Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="InstallDirDlg" Order="1">NOT Installed</Publish>
			<Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="RemoveConfirmationDlg" Order="2">Installed AND NOT PATCH</Publish>
			<Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">Installed AND PATCH</Publish>

			<Publish Dialog="RemoveConfirmationDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>

			<!-- ARPNOREPAIR+ARPNOREMOVE are specified to force the MODIFY verb, which will display maintenance UI as the only option in Add/remove Programs-->
			<Property Id="ARPNOREPAIR" Value="1" />
			<Property Id="ARPNOREMOVE" Value="1" />
		</UI>

		<UIRef Id="WixUI_Common" />
	</Fragment>

	<Fragment>
		<!--This custom action populates MSIXMGR_PRODUCTS with the list of msixmgr-installed packages still installed-->
		<CustomAction Id='GetMsixmgrProductsCA' BinaryKey='GetMsixmgrProducts' DllEntry='GetMsixmgrProducts' Execute='immediate' Return='check'/>
		<Binary Id='GetMsixmgrProducts' SourceFile='$(var.SolutionDir)\GetMsixmgrProductsCA\bin\$(var.Platform)\$(var.Configuration)\GetMsixmgrProducts.CA.dll'/>
	</Fragment>

</Wix>
