# Branches that trigger a build on commit
trigger:
- master
- release_v*

# Branches that trigger builds on PR
pr:
  branches:
    include:
    - master
    - release_v*
    - packaging
  paths:
    include:
    - cmake/*
    - lib/*
    - pipelines/*
    - resources/*
    - samples/*
    - src/*
    - test/*
    - CMakeLists.txt
    - makeaosp.sh
    - makeios.sh
    - makelinux.sh
    - makemac.sh
    - makewin.cmd
    - manifest.cmakein

jobs:
- job: iOS
  pool:
    name: Hosted macOS
  strategy:
    # TODO: add builds using xerces if needed.
    matrix:
      debug_x86:
        _arguments: -b Debug -xzlib
        _artifact: iOS-x86chk
      release_x86:
        _arguments: -b MinSizeRel -xzlib
        _artifact: iOS-x86
      release_arm64:
        _arguments: -b MinSizeRel -arch arm64 -xzlib
        _artifact: iOS-arm64
      debug_x86_nopack:
        _arguments: -b Debug --no-pack
        _artifact: iOS-x86chk-nopack
  steps:
  - task: Bash@3
    displayName: Build
    inputs:
      targetType: filePath
      filePath: ./makeios.sh
      arguments: $(_arguments)
      failOnStderr: true
    condition: succeeded()

    # Note: We skip BVTs in Debug mode because of assert() and release_arm64
    # Only do BVTs for release_x86 because the emulator
  - task: Bash@3
    displayName: iOS BVTs
    inputs:
      targetType: filePath
      filePath: './test/MacOS-Linux/testios.sh'
      arguments: '-p ../mobile/iOSBVT/iOSBVT.xcodeproj'
      workingDirectory: './test/MacOS-Linux'
      failOnStderr: true
    condition: and(succeeded(), contains(variables['Agent.JobName'], 'release_x86'))

  - task: CopyFiles@2
    displayName: 'Copy Files to: $(Build.ArtifactStagingDirectory)'
    inputs:
      SourceFolder: .vs
      Contents: |
        bin/makemsix
        bin/makemsix.dSYM/**
        lib/libmsix*
        lib/libmsix*/**
        src/msix/AppxPackaging.hpp
        src/msix/MSIXWindows.hpp
        src/msix/MsixErrors.hpp
        Package.nuspec
        build/**
      TargetFolder: '$(Build.ArtifactStagingDirectory)'
    condition: succeeded()

  - task: PublishBuildArtifacts@1
    displayName: 'Publish Artifact $(_artifact)'
    inputs:
      ArtifactName: $(_artifact)
    condition: succeeded()
