# Build and test pipeline for CI

# Branches that trigger a build on commit
trigger:
- master
- release_v*

# Branches that trigger builds on PR
pr:
  branches:
    include:
    - master
    - release_v*
  paths:
    include:
    - tools/pipelines-tasks

# Schedule weekly build
# Cron syntax: "mm HH DD MM DW" = minutes, hours, days, months, day of week (UTC time)
schedules:
# "0 8" = 8AM UTC = 12AM PST
- cron: "0 8 * * Sun"
  displayName: Weekly build
  branches:
    include:
    - master
  always: true

pool:
  name: 'msix-packaging-pool'

variables:
  tasksRoot: 'tools/pipelines-tasks'
  buildOutRoot: '$(Build.ArtifactStagingDirectory)/buildOutput'
  testAvdInputsFile: 'tools/pipelines-tasks/test/assets/avdinputs.json'
# Set these variables to run AVD publish tests on required azure subscription service connection containing AVD resources.
# Not setting these variables will leave running AVD publish test cases and will not fail the pipeline
  subscriptionId: ''
  emailId: ''
  clientId: ''
  clientSecret: ''
  tenantId: ''
  resourceGroupName: ''
  storageAccountName: ''
  fileShareName: ''
  hostPoolName: ''
  workSpaceName: ''
  applicationGroupName: ''

steps:
- template: templates/build-steps.yml